h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.navbar-custom {
    background-color: #00C4C4 !important;
}

.footer-custom {
    padding: 20px;
    text-align: center;
}
