h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.navbar-custom {
    background-color: white !important;
    padding-top: 0;
    padding-bottom: 0; 
}

.footer-custom {
    padding: 20px;
    text-align: center;
}

.navbar-brand {
    background-color: #00C4C4 !important;
    width: 300px;
    height: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    color: white;
}

.mainPage {
    margin-top: 100px;
}
